<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div id="menu">
    <% if (locals.user) { %>
      <span class="name"><%= user.name%></span>
      <a href="/users/logout">logout</a>
    <% } else { %>
      <a href="/users/login">login</a>
    <% } %>
    </div>
  </body>
</html>
